rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function canRead(data) {
      return request.auth != null && (data.ownerUserId == request.auth.uid || data.teamId == request.auth.uid);
    }

    match /users/{userId} {
      allow read: if canRead(resource.data);
    }

    match /teams/{teamId} {
      allow read: if canRead(resource.data);
    }

    match /stadiums/{stadiumId} {
      allow read: if canRead(resource.data);
    }

    match /contracts/{contractId} {
      allow read: if canRead(resource.data);
    }
  }
}
